body {
  background-color: #f1f1ef;
}
h1 {
  color: #4d523c;
  font-family: cursive;
  font-style: italic;
  font-size: 60px;
}
h3 {
  color: rgb(75, 69, 69);
  font-style: italic;
}
.um,
.dois,
.tres,
.quatro,
.cinco {
  width: 150px;
  height: 150px;
  display: inline-block;
  line-height: 200px;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
}

.um:hover,
.dois:hover,
.tres:hover,
.quatro:hover,
.cinco:hover {
  border: 2px solid black;
}

.um {
  background: #a2917f;
}
.dois {
  background: #c5b39f;
}
.tres {
  background: #efe9dd;
  width: 200px;
  height: 200px;
}
.quatro {
  background: #4d523c;
}
.cinco {
  background: #bdbfae;
}
